<?xml version="1.0"?>
<configuration>
 
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ultrasonic.DownloadManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Ultrasonic.DownloadManager.Properties.Settings>
      <setting name="AccountID" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>default</value>
      </setting>
    </Ultrasonic.DownloadManager.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="email" value="jung.ulrich@gmx.net"/>
    <add key="firstName" value="sika"/>
    <add key="lastName" value="desire"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDownloadDataProviderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20096/DownloadDataProviderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownloadDataProviderService"
        contract="DownloadManagerService.IDownloadDataProviderService"
        name="BasicHttpBinding_IDownloadDataProviderService" />
    </client>
  </system.serviceModel>
</configuration>
