<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDownloadDataProviderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20096/DownloadDataProviderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownloadDataProviderService"
                contract="ServiceReference1.IDownloadDataProviderService"
                name="BasicHttpBinding_IDownloadDataProviderService" />
        </client>
    </system.serviceModel>
</configuration>