<?xml version="1.0"?>
<configuration>
  
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ultrasonic.DownloadManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Ultrasonic.DownloadManager.Properties.Settings>
      <setting name="AccountID" serializeAs="String">
        <value>6335437</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>uploaded123</value>
      </setting>
    </Ultrasonic.DownloadManager.Properties.Settings>
  </userSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDownloadDataProviderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://91.229.79.95/DownloadDataProviderService/DownloadDataProviderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownloadDataProviderService"
        contract="ServiceReference1.IDownloadDataProviderService" name="BasicHttpBinding_IDownloadDataProviderService" />
    </client>
  </system.serviceModel>
</configuration>
