<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="email" value="sika.desire@googlemail.com"/>
    <add key="firstName" value="sika"/>
    <add key="lastName" value="desire"/>
  </appSettings>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ultrasonic.DownloadManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
      <param name="File" value="Logs.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Ultrasonic.DownloadManager.Properties.Settings>
      <setting name="AccountID" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>default</value>
      </setting>
    </Ultrasonic.DownloadManager.Properties.Settings>
  </userSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDownloadDataProviderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://91.229.79.95/DownloadDataProviderService/DownloadDataProviderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownloadDataProviderService"
        contract="ServiceReference1.IDownloadDataProviderService" name="BasicHttpBinding_IDownloadDataProviderService" />
    </client>
  </system.serviceModel>
</configuration>
